
/*Body*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/*Typography*/
p {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: red;
}

p {
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.link:hover {
    cursor: pointer;
    color: red;
}

/*Container*/
#container {
    width: 100%;
}

/*Columns*/
.two-column, .three-column, .four-column, .five-column {
    float: left;
    padding-right: 50px;
}

.two-column {
    width: 50%;
}

.three-column {
    width: 33%;
}

.four-column {
    width: 25%;
}

.five-column {
    width: 20%;
}

.six-column {
    float: left;
    padding-right: 25px;
    width: 16%;
}

.eight-column {
    float: left;
    padding-right: 25px;
    width: 12%;
}

.row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

/*Text containers*/
#textcontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 2% 2% 2% 2%;
    width: 85%;
}





