/*Section title is only shown on mobile devices*/
.section-title {
    display: none;
}

/*Menubars - top one (black) and the one containing the buttons for the mega menu*/
.menu, .top-menu {
    position: relative;
    width: 100%;
    padding-left: 3%;
    background-color: white;
}

.menu {
    height: 7%;
    background-color: white;
}

.mega-menu {
    position: relative;
    background-color: white;
    border-color: black;
    border: 4px;
    z-index: 500;
    display: none;
    padding-top: 2.5%;
    padding-bottom: 3%;
    padding-left: 3%;
}

.top-menu {
    height: 3%;
    background-color: black;
}

/*Collapsed menu classes - activated on mobile devices in 'collapse-menu.js'*/
.collapse-menu {
    height: 4.5%;
    position: fixed;
    z-index: 998;
}

.collapse-menu, .collapse-menu-button {
    background-color: #03031b !important;
    color: white !important;
}

    .collapse-menu-button:hover {
        background-color: red !important;
    }

.mega-menu-collapsed {
    position: fixed;
    padding-top: 5%;
    width: 100%;
    color: white;
    background-color: #000;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
    transition: 0.5s all !important;
}

.unset-bg {
    background-color: unset;
    transition: 0.5s, all;
}

.far-right {
    float: right;
}

/*Home button for collapsed nav*/
#home-button {
    background-image: url('../images/load-logo.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    color: transparent !important;
}

/*Burger menu button*/
#burger-button {
    display: none; /*keep this enabled, if it's set to 'none' the button won't show on mobile view*/
    width: 35px;
    text-align: center;
    right: 0;
    margin-right: -7.5%;
}

.burger {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 3px 6px;
}

/*Pendragon mobile text*/
#pendragon-mobile-logo, #pendragon-mobile-text {
    display: none;
}

#pendragon-mobile-text {
    left: 0;
    margin-left: 12%;
    top: 0;
    margin-top: -7.5%;
}

#pendragon-mobile-logo {
    padding-top: 8.5%;
}

/*Menu buttons*/
.menu-button, .top-menu-button {
    outline: none;
    height: 100%;
    width: 10%;
    border: none;
    padding-bottom: 0.2%;
    padding-left: 0.2%;
}

.menu-button {
    color: black;
    background-color: white;
    font-size: 16px;
    text-align: center;
}

.top-menu-button {
    color: white;
    background-color: black;
    text-align: left;
}

    .menu-button:hover, .top-menu-button:hover {
        color: white;
        background-color: red;
        cursor: pointer;
        transition: .3s ease-in-out;
    }


.right {
    float: right;
    text-align: right;
    padding-right: 3%;
    width: 10%;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
}

menu-button:focus { /*remove outline from buttons in certain browsers (Google Chrome)*/
    outline: 0;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*--MEGA MENU RESPONSIVE--*/

/*--COLLAPSED MENUBAR--*/

@media only screen and (min-width: 1070px) and (max-width: 1290px) and (orientation: landscape) {
    .menu-button {
        font-size: 12px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1069px) {
    .menu-button {
        font-size: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
    .menu-button {
        font-size: 10px;
        width: 14.5%;
    }

    .far-right {
        float: unset;
    }
}

/*Mobile phones*/
@media only screen and (max-width: 599px) {
    #textcontainer {
        padding-top: 15%;
    }

    #group1-button, #group2-button, #group3-button, #group4-button {
        display: none;
    }

    #blog-button-menu {
        visibility: hidden; /*don't use 'display: none' here*/
    }

   #burger-button, #pendragon-mobile-logo {
        display: block;
    }

    .menu, .menu-button {
        color: white !important;
        background-color: #03031b !important;
    }
}

/*iPad*/

@media only screen and (min-width: 430px) and (max-width: 1050px) {
    #textcontainer {
        padding-top: 15%;
    }


    h2 {
        font-size: 20px;
    }

    .link {
        font-size: 12px;
    }

    .group2-menu {
        width: 33%;
    }

    .group1-menu, .group3-menu {
        width: 20%;
    }

    .group4-menu {
        width: 50%;
    }
}

@media only screen and (max-width: 1050px) and (orienation: portrait) {
    .mega-menu-collapsed {
        padding-top: 15%;
    }
}

@media only screen and (max-width: 1050px) and (orienation: landscape) {
    .mega-menu-collapsed {
        padding-top: 8.5%;
    }
}

/*Phones*/
@media only screen and (max-width: 429px) {
    #textcontainer {
        padding-top: 15%;
    }


    .five-column {
        width: 100%;
    }

    .mega-menu {
        z-index: 9999999999999999999999999;
        color: black;
        background-color: white;
        height: 100%;
        padding-top: 12%;
        float: unset;
    }

    .mega-menu-collapsed {
        position: unset;
    }

    .section-title {
        display: block;
    }
}

